{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wardrobe/header.png",
			"fileBody": "/interface/wardrobe/body.png",
			"fileFooter": "/interface/wardrobe/footer.png"
		},

		"windowtitle": {
			"type": "title",
			"title": " Wardrobe",
			"subtitle": " ^#b9b5b2;It's time to dress up!",
			"icon": {
				"type": "image",
				"file": "/interface/wardrobe/icon.png",
				"zlevel": -1
			}
		},

		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"callback": "close",
			"position": [321, 226]
		},
		"wardrobeTitle": {
			"type": "image",
			"position": [
				130,
				203
			],
			"zlevel": 21,
			"file": "/interface/wardrobe/title.png"
		},
		"wardrobeSubtitle": {
			"type": "label",
			"position": [
				170,
				192
			],
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "^white;^shadow;What would you like to wear?"
		},
		"wardrobeHeadTitle": {
			"type": "label",
			"position": [
				3,
				209
			],
			"hAnchor": "left",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Head Slot"
		},
		"wardrobeHeadIcon": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [
				12,
				200
			],
			"zlevel": 23,
			"visible": true,
			"centered": true
		},
		"wardrobeHeadName": {
			"type": "label",
			"position": [
				23,
				206
			],
			"hAnchor": "left",
			"fontSize": 6,
			"wrapWidth": 76,
			"vAnchor": "top",
			"zlevel": 21,
			"value": "No selection"
		},
		"wardrobeHeadRarity": {
			"type": "image",
			"file": "/interface/inventory/itembordercommon.png",
			"position": [
				3,
				191
			],
			"zlevel": 22,
			"visible": true
		},
		"wardrobeShowHead": {
			"type": "button",
			"base": "/assetMissing.png?replace;ffffff00=ffffff01?scalenearest=2?crop;0;0;97;20",
			"hover": "/assetMissing.png?replace;ffffff00=ffffff20?scalenearest=2?crop;0;0;97;20",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0,
				0
			],
			"position": [
				2,
				190
			],
			"data": "head",
			"callback": "wardrobe.showLeftBar"
		},
		"wardrobeHeadColorTitle": {
			"type": "label",
			"position": [
				3,
				182
			],
			"hAnchor": "left",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Color"
		},
		"wardrobeChestTitle": {
			"type": "label",
			"position": [
				3,
				148
			],
			"hAnchor": "left",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Chest Slot"
		},
		"wardrobeChestIcon": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [
				12,
				139
			],
			"zlevel": 23,
			"visible": true,
			"centered": true
		},
		"wardrobeChestName": {
			"type": "label",
			"position": [
				23,
				145
			],
			"hAnchor": "left",
			"fontSize": 6,
			"wrapWidth": 76,
			"vAnchor": "top",
			"zlevel": 21,
			"value": "No selection"
		},
		"wardrobeChestRarity": {
			"type": "image",
			"file": "/interface/inventory/itembordercommon.png",
			"position": [
				3,
				130
			],
			"zlevel": 22,
			"visible": true
		},
		"wardrobeShowChest": {
			"type": "button",
			"base": "/assetMissing.png?replace;ffffff00=ffffff01?scalenearest=2?crop;0;0;97;20",
			"hover": "/assetMissing.png?replace;ffffff00=ffffff20?scalenearest=2?crop;0;0;97;20",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0,
				0
			],
			"position": [
				2,
				129
			],
			"data": "chest",
			"callback": "wardrobe.showLeftBar"
		},
		"wardrobeChestColorTitle": {
			"type": "label",
			"position": [
				3,
				121
			],
			"hAnchor": "left",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Color"
		},
		"wardrobeLegsTitle": {
			"type": "label",
			"position": [
				335,
				209
			],
			"hAnchor": "right",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Legs Slot"
		},
		"wardrobeLegsIcon": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [
				325,
				200
			],
			"zlevel": 23,
			"visible": true,
			"centered": true
		},
		"wardrobeLegsName": {
			"type": "label",
			"position": [
				315,
				206
			],
			"hAnchor": "right",
			"vAnchor": "top",
			"fontSize": 6,
			"wrapWidth": 76,
			"zlevel": 22,
			"value": "No selection"
		},
		"wardrobeLegsRarity": {
			"type": "image",
			"file": "/interface/inventory/itembordercommon.png",
			"position": [
				316,
				191
			],
			"zlevel": 22,
			"visible": true
		},
		"wardrobeShowLegs": {
			"type": "button",
			"base": "/assetMissing.png?replace;ffffff00=ffffff01?scalenearest=2?crop;0;0;97;20",
			"hover": "/assetMissing.png?replace;ffffff00=ffffff20?scalenearest=2?crop;0;0;97;20",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0,
				0
			],
			"position": [
				238,
				190
			],
			"data": "legs",
			"callback": "wardrobe.showRightBar"
		},
		"wardrobeLegsColorTitle": {
			"type": "label",
			"position": [
				335,
				182
			],
			"hAnchor": "right",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Color"
		},
		"wardrobeBackTitle": {
			"type": "label",
			"position": [
				335,
				148
			],
			"hAnchor": "right",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Back Slot"
		},
		"wardrobeBackIcon": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [
				325,
				139
			],
			"zlevel": 23,
			"visible": true,
			"centered": true
		},
		"wardrobeBackName": {
			"type": "label",
			"position": [
				315,
				145
			],
			"hAnchor": "right",
			"vAnchor": "top",
			"fontSize": 6,
			"wrapWidth": 76,
			"zlevel": 21,
			"value": "No selection"
		},
		"wardrobeBackRarity": {
			"type": "image",
			"file": "/interface/inventory/itembordercommon.png",
			"position": [
				316,
				130
			],
			"zlevel": 22,
			"visible": true
		},
		"wardrobeShowBack": {
			"type": "button",
			"base": "/assetMissing.png?replace;ffffff00=ffffff01?scalenearest=2?crop;0;0;97;20",
			"hover": "/assetMissing.png?replace;ffffff00=ffffff20?scalenearest=2?crop;0;0;97;20",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0,
				0
			],
			"position": [
				238,
				129
			],
			"data": "back",
			"callback": "wardrobe.showRightBar"
		},
		"wardrobeBackColorTitle": {
			"type": "label",
			"position": [
				335,
				121
			],
			"hAnchor": "right",
			"vAnchor": "bottom",
			"zlevel": 21,
			"value": "Color"
		},
		"wardrobeLeftBar": {
			"type": "image",
			"file": "/interface/wardrobe/leftbar.png",
			"position": [
				1,
				24
			],
			"zlevel": 30,
			"visible": false
		},
		"wardrobeButtonCloseLeftBar": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"callback": "wardrobe.closeLeftBar",
			"caption": "",
			"position": [
				94,
				205
			],
			"pressedOffset": [
				0, -1
			],
			"zlevel": 32,
			"visible": false
		},
		"wardrobeLeftBarTitle": {
			"type": "label",
			"visible": false,
			"position": [
				3,
				206
			],
			"hAnchor": "left",
			"vAnchor": "bottom",
			"zlevel": 36,
			"value": "Select an item"
		},
		"wardrobeHeadSearchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				2,
				26
			],
			"zlevel": 35,
			"visible": false
		},
		"wardrobeHeadSearchText": {
			"type": "textbox",
			"position": [
				6,
				26
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 36,
			"visible": false,
			"callback": "wardrobe.filterHead",
			"maxWidth": 41,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
		"wardrobeChestSearchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				54,
				26
			],
			"zlevel": 35,
			"visible": false
		},
		"wardrobeChestSearchText": {
			"type": "textbox",
			"position": [
				58,
				26
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 36,
			"visible": false,
			"callback": "wardrobe.filterChest",
			"maxWidth": 41,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
		"wardrobeLegsSearchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				234,
				26
			],
			"zlevel": 35,
			"visible": false
		},
		"wardrobeLegsSearchText": {
			"type": "textbox",
			"position": [
				238,
				26
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 36,
			"visible": false,
			"callback": "wardrobe.filterLegs",
			"maxWidth": 41,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
		"wardrobeBackSearchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				286,
				26
			],
			"zlevel": 35,
			"visible": false
		},
		"wardrobeBackSearchText": {
			"type": "textbox",
			"position": [
				290,
				26
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 36,
			"visible": false,
			"callback": "wardrobe.filterBack",
			"maxWidth": 41,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
		"wardrobeHeadScroll": {
			"visible": false,
			"type": "scrollArea",
			"zlevel": 34,
			"rect": [
				1,
				37,
				53,
				203
			],
			"children": {
				"list": {
					"type": "list",
					"position": [
						0,
						0
					],
					"callback": "wardrobe.headSelected",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							43,
							43
						],
						"listTemplate": {
							"dummyBackArm": {
								"type": "image",
								"file": "/humanoid/any/dummybackarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 32
							},
							"dummyBody": {
								"type": "image",
								"file": "/humanoid/any/dummybody.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 34
							},
							"dummyFrontArm": {
								"type": "image",
								"file": "/humanoid/any/dummyfrontarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"dummyHead": {
								"type": "image",
								"file": "/humanoid/any/dummyhead.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"image": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 35
							},
							"imageBack": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 33
							},
							"imageFront": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 37
							}
						}
					}
				}
			}
		},
		"wardrobeChestScroll": {
			"visible": false,
			"type": "scrollArea",
			"zlevel": 34,
			"rect": [
				53,
				37,
				105,
				203
			],
			"children": {
				"list": {
					"type": "list",
					"position": [
						0,
						0
					],
					"callback": "wardrobe.chestSelected",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							43,
							43
						],
						"listTemplate": {
							"dummyBackArm": {
								"type": "image",
								"file": "/humanoid/any/dummybackarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 32
							},
							"dummyBody": {
								"type": "image",
								"file": "/humanoid/any/dummybody.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 34
							},
							"dummyFrontArm": {
								"type": "image",
								"file": "/humanoid/any/dummyfrontarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"dummyHead": {
								"type": "image",
								"file": "/humanoid/any/dummyhead.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"image": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 35
							},
							"imageBack": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 33
							},
							"imageFront": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 37
							}
						}
					}
				}
			}
		},
		"wardrobeRightBar": {
			"type": "image",
			"file": "/interface/wardrobe/rightbar.png",
			"position": [
				232,
				24
			],
			"zlevel": 30,
			"visible": false
		},
		"wardrobeButtonCloseRightBar": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"caption": "",
			"callback": "wardrobe.closeRightBar",
			"position": [
				234,
				205
			],
			"pressedOffset": [
				0, -1
			],
			"zlevel": 32,
			"visible": false
		},
		"wardrobeRightBarTitle": {
			"type": "label",
			"visible": false,
			"position": [
				335,
				206
			],
			"hAnchor": "right",
			"vAnchor": "bottom",
			"zlevel": 36,
			"value": "Select an item"
		},
		"wardrobeLegsScroll": {
			"visible": false,
			"type": "scrollArea",
			"zlevel": 34,
			"rect": [
				233,
				37,
				285,
				203
			],
			"children": {
				"list": {
					"type": "list",
					"position": [
						0,
						0
					],
					"callback": "wardrobe.legsSelected",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							43,
							43
						],
						"listTemplate": {
							"dummyBackArm": {
								"type": "image",
								"file": "/humanoid/any/dummybackarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 32
							},
							"dummyBody": {
								"type": "image",
								"file": "/humanoid/any/dummybody.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 34
							},
							"dummyFrontArm": {
								"type": "image",
								"file": "/humanoid/any/dummyfrontarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"dummyHead": {
								"type": "image",
								"file": "/humanoid/any/dummyhead.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"image": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 35
							},
							"imageBack": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 33
							},
							"imageFront": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 37
							}
						}
					}
				}
			}
		},
		"wardrobeBackScroll": {
			"visible": false,
			"type": "scrollArea",
			"zlevel": 34,
			"rect": [
				285,
				37,
				337,
				203
			],
			"children": {
				"list": {
					"type": "list",
					"position": [
						0,
						0
					],
					"callback": "wardrobe.backSelected",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							43,
							43
						],
						"listTemplate": {
							"dummyBackArm": {
								"type": "image",
								"file": "/humanoid/any/dummybackarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 32
							},
							"dummyBody": {
								"type": "image",
								"file": "/humanoid/any/dummybody.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 34
							},
							"dummyFrontArm": {
								"type": "image",
								"file": "/humanoid/any/dummyfrontarm.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"dummyHead": {
								"type": "image",
								"file": "/humanoid/any/dummyhead.png?replace;ffffff00=00000001",
								"position": [
									0,
									0
								],
								"zlevel": 36
							},
							"image": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 35
							},
							"imageBack": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 33
							},
							"imageFront": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [
									0,
									0
								],
								"zlevel": 37
							}
						}
					}
				}
			}
		},
		"wardrobePreview": {
			"type": "list",
			"callback": "null",
			"position": [
				104,
				59
			],
			"zlevel": 25,
			"scissoring": false,
			"schema": {
				"selectedBG": "/assetMissing.png",
				"unselectedBG": "/assetMissing.png",
				"spacing": [
					0, -129
				],
				"memberSize": [
					129,
					129
				],
				"listTemplate": {
					"image": {
						"type": "image",
						"file": "/assetMissing.png",
						"scissoring": false,
						"position": [
							0,
							129
						],
						"maxSize": [
							129,
							129
						],
						"minSize": [
							129,
							129
						],
						"zlevel": 25
					}
				}
			}
		},
		"wardrobeHeadColor_1": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				3,
				172
			],
			"visible": false,
			"data": 1,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_2": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				15,
				172
			],
			"visible": false,
			"data": 2,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_3": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				27,
				172
			],
			"visible": false,
			"data": 3,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_4": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				39,
				172
			],
			"visible": false,
			"data": 4,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_5": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				51,
				172
			],
			"visible": false,
			"data": 5,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_6": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				63,
				172
			],
			"visible": false,
			"data": 6,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_7": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				75,
				172
			],
			"visible": false,
			"data": 7,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_8": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				87,
				172
			],
			"visible": false,
			"data": 8,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_9": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				3,
				161
			],
			"visible": false,
			"data": 9,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_10": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				15,
				161
			],
			"visible": false,
			"data": 10,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_11": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				27,
				161
			],
			"visible": false,
			"data": 11,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_12": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				39,
				161
			],
			"visible": false,
			"data": 12,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_13": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				51,
				161
			],
			"visible": false,
			"data": 13,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_14": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				63,
				161
			],
			"visible": false,
			"data": 14,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_15": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				75,
				161
			],
			"visible": false,
			"data": 15,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeHeadColor_16": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				87,
				161
			],
			"visible": false,
			"data": 16,
			"callback": "wardrobe.selectHeadColor"
		},
		"wardrobeChestColor_1": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				3,
				111
			],
			"visible": false,
			"data": 1,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_2": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				15,
				111
			],
			"visible": false,
			"data": 2,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_3": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				27,
				111
			],
			"visible": false,
			"data": 3,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_4": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				39,
				111
			],
			"visible": false,
			"data": 4,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_5": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				51,
				111
			],
			"visible": false,
			"data": 5,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_6": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				63,
				111
			],
			"visible": false,
			"data": 6,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_7": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				75,
				111
			],
			"visible": false,
			"data": 7,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_8": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				87,
				111
			],
			"visible": false,
			"data": 8,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_9": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				3,
				100
			],
			"visible": false,
			"data": 9,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_10": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				15,
				100
			],
			"visible": false,
			"data": 10,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_11": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				27,
				100
			],
			"visible": false,
			"data": 11,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_12": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				39,
				100
			],
			"visible": false,
			"data": 12,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_13": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				51,
				100
			],
			"visible": false,
			"data": 13,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_14": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				63,
				100
			],
			"visible": false,
			"data": 14,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_15": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				75,
				100
			],
			"visible": false,
			"data": 15,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeChestColor_16": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				87,
				100
			],
			"visible": false,
			"data": 16,
			"callback": "wardrobe.selectChestColor"
		},
		"wardrobeLegsColor_1": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				239,
				172
			],
			"visible": false,
			"data": 1,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_2": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				251,
				172
			],
			"visible": false,
			"data": 2,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_3": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				263,
				172
			],
			"visible": false,
			"data": 3,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_4": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				275,
				172
			],
			"visible": false,
			"data": 4,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_5": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				287,
				172
			],
			"visible": false,
			"data": 5,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_6": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				299,
				172
			],
			"visible": false,
			"data": 6,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_7": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				311,
				172
			],
			"visible": false,
			"data": 7,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_8": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				323,
				172
			],
			"visible": false,
			"data": 8,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_9": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				239,
				161
			],
			"visible": false,
			"data": 9,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_10": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				251,
				161
			],
			"visible": false,
			"data": 10,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_11": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				263,
				161
			],
			"visible": false,
			"data": 11,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_12": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				275,
				161
			],
			"visible": false,
			"data": 12,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_13": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				287,
				161
			],
			"visible": false,
			"data": 13,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_14": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				299,
				161
			],
			"visible": false,
			"data": 14,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_15": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				311,
				161
			],
			"visible": false,
			"data": 15,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeLegsColor_16": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				323,
				161
			],
			"visible": false,
			"data": 16,
			"callback": "wardrobe.selectLegsColor"
		},
		"wardrobeBackColor_1": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				239,
				111
			],
			"visible": false,
			"data": 1,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_2": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				251,
				111
			],
			"visible": false,
			"data": 2,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_3": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				263,
				111
			],
			"visible": false,
			"data": 3,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_4": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				275,
				111
			],
			"visible": false,
			"data": 4,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_5": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				287,
				111
			],
			"visible": false,
			"data": 5,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_6": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				299,
				111
			],
			"visible": false,
			"data": 6,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_7": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				311,
				111
			],
			"visible": false,
			"data": 7,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_8": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				323,
				111
			],
			"visible": false,
			"data": 8,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_9": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				239,
				100
			],
			"visible": false,
			"data": 9,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_10": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				251,
				100
			],
			"visible": false,
			"data": 10,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_11": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				263,
				100
			],
			"visible": false,
			"data": 11,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_12": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				275,
				100
			],
			"visible": false,
			"data": 12,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_13": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				287,
				100
			],
			"visible": false,
			"data": 13,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_14": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				299,
				100
			],
			"visible": false,
			"data": 14,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_15": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				311,
				100
			],
			"visible": false,
			"data": 15,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeBackColor_16": {
			"type": "button",
			"base": "/interface/wardrobe/color.png",
			"hover": "/interface/wardrobe/color.png",
			"caption": "",
			"zlevel": 24,
			"hAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				323,
				100
			],
			"visible": false,
			"data": 16,
			"callback": "wardrobe.selectBackColor"
		},
		"wardrobeEquip": {
			"type": "button",
			"base": "/interface/wardrobe/button.png",
			"hover": "/interface/wardrobe/button.png?brightness=30",
			"caption": "^shadow;Equip Outfit",
			"wrapWidth": 80,
			"zlevel": 20,
			"hAnchor": "mid",
			"vAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				91,
				34
			],
			"visible": true,
			"callback": "wardrobe.equip"
		},
		"wardrobeSpawn": {
			"type": "button",
			"base": "/interface/wardrobe/button.png",
			"hover": "/interface/wardrobe/button.png?brightness=30",
			"caption": "^shadow;Spawn Outfit",
			"wrapWidth": 80,
			"zlevel": 20,
			"hAnchor": "mid",
			"vAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				170,
				34
			],
			"visible": true,
			"callback": "wardrobe.spawn"
		},
		"wardrobeStorage": {
			"type": "label",
			"position": [
				0,
				0
			],
			"zlevel": -1,
			"visible": false,
			"value": "",
			"data": {}
		}
	},

	"scriptWidgetCallbacks": [
		"wardrobe.showLeftBar",
		"wardrobe.showRightBar",
		"wardrobe.closeLeftBar",
		"wardrobe.closeRightBar",
		"wardrobe.headSelected",
		"wardrobe.chestSelected",
		"wardrobe.legsSelected",
		"wardrobe.backSelected",
		"wardrobe.spawn",
		"wardrobe.equip",
		"wardrobe.selectHeadColor",
		"wardrobe.selectChestColor",
		"wardrobe.selectLegsColor",
		"wardrobe.selectBackColor",
		"wardrobe.filterHead",
		"wardrobe.filterChest",
		"wardrobe.filterLegs",
		"wardrobe.filterBack"
	],

	"scripts": ["/scripts/wardrobe.lua"],
	"scriptDelta": 1
}