{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/wardrobe/header.png",
			"fileBody": "/interface/wardrobe/body.png",
			"fileFooter": "/interface/wardrobe/footer.png"
		},

		"windowtitle": {
			"type": "title",
			"title": " Wardrobe",
			"subtitle": " ^#b9b5b2;It's time to dress up!",
			"icon": {
				"type": "image",
				"file": "/interface/wardrobe/icon.png",
				"zlevel": -1
			}
		},

		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"callback": "close",
			"position": [368, 226]
		},

		// Title
		"title": {
			"type": "image",
			"position": [
				152,
				203
			],
			"zlevel": 0,
			"file": "/interface/wardrobe/title.png"
		},
		"subtitle": {
			"type": "label",
			"position": [
				192,
				192
			],
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"zlevel": 0,
			"value": "^white;^shadow;What would you like to wear?"
		},

		// Head
		"head": {
			"type": "layout",
			"layoutType": "basic",
			"position": [1, 153],
			"size": [100, 60],
			"zlevel": 1,
			"children": {
				"title": {
					"type": "label",
					"position": [
						2,
						53
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Head Slot"
				},
				"fakeIcon": {
					"type": "image",
					"zlevel": 0,
					"position": [2,35],
					"file": "/interface/inventory/itembordercommon.png"
				},
				"icon": {
					"type": "itemslot",
					"zlevel": 1,
					"position": [
						2,
						35
					],
					"callback": "null"
				},
				"name": {
					"type": "label",
					"position": [
						22,
						51
					],
					"hAnchor": "left",
					"fontSize": 6,
					"wrapWidth": 76,
					"vAnchor": "top",
					"value": "No selection"
				},
				// Colors
				"colorTitle": {
					"type": "label",
					"position": [
						2,
						26
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Color"
				},
				"color_1": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						16
					],
					"visible": false,
					"data": 0,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_2": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						16
					],
					"visible": false,
					"data": 1,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_3": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						16
					],
					"visible": false,
					"data": 2,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_4": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						16
					],
					"visible": false,
					"data": 3,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_5": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						16
					],
					"visible": false,
					"data": 4,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_6": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						16
					],
					"visible": false,
					"data": 5,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_7": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						16
					],
					"visible": false,
					"data": 6,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_8": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						16
					],
					"visible": false,
					"data": 7,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_9": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						5
					],
					"visible": false,
					"data": 8,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_10": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						5
					],
					"visible": false,
					"data": 9,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_11": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						5
					],
					"visible": false,
					"data": 10,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_12": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						5
					],
					"visible": false,
					"data": 11,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_13": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						5
					],
					"visible": false,
					"data": 12,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_14": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						5
					],
					"visible": false,
					"data": 13,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_15": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						5
					],
					"visible": false,
					"data": 14,
					"callback": "wardrobeCallbacks.selectHeadColor"
				},
				"color_16": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						5
					],
					"visible": false,
					"data": 15,
					"callback": "wardrobeCallbacks.selectHeadColor"
				}
			}
		},
		// Head stuff outside of paneLayout because directives are broken in paneLayout childs =3=.
		"head_show": {
			"type": "button",
			"base": "/interface/wardrobe/hover.png",
			"hover": "/interface/wardrobe/hover.png?replace;ffffff01=ffffff20",
			"caption": "",
			"zlevel": 3,
			"pressedOffset": [
				0,
				0
			],
			"position": [
				2,
				187
			],
			"data": "head",
			"callback": "wardrobeCallbacks.showHeadSelection"
		},

		// Chest
		"chest": {
			"type": "layout",
			"layoutType": "basic",
			"position": [1, 92],
			"size": [100, 60],
			"zlevel": 1,
			"children": {
				"title": {
					"type": "label",
					"position": [
						2,
						53
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Chest Slot"
				},
				"fakeIcon": {
					"type": "image",
					"zlevel": 0,
					"position": [2,35],
					"file": "/interface/inventory/itembordercommon.png"
				},
				"icon": {
					"type": "itemslot",
					"zlevel": 1,
					"position": [
						2,
						35
					],
					"callback": "null"
				},
				"name": {
					"type": "label",
					"position": [
						22,
						51
					],
					"hAnchor": "left",
					"fontSize": 6,
					"wrapWidth": 76,
					"vAnchor": "top",
					"value": "No selection"
				},
				"colorTitle": {
					"type": "label",
					"position": [
						2,
						26
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Color"
				},
				"color_1": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						16
					],
					"visible": false,
					"data": 0,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_2": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						16
					],
					"visible": false,
					"data": 1,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_3": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						16
					],
					"visible": false,
					"data": 2,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_4": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						16
					],
					"visible": false,
					"data": 3,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_5": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						16
					],
					"visible": false,
					"data": 4,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_6": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						16
					],
					"visible": false,
					"data": 5,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_7": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						16
					],
					"visible": false,
					"data": 6,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_8": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						16
					],
					"visible": false,
					"data": 7,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_9": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						5
					],
					"visible": false,
					"data": 8,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_10": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						5
					],
					"visible": false,
					"data": 9,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_11": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						5
					],
					"visible": false,
					"data": 10,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_12": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						5
					],
					"visible": false,
					"data": 11,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_13": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						5
					],
					"visible": false,
					"data": 12,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_14": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						5
					],
					"visible": false,
					"data": 13,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_15": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						5
					],
					"visible": false,
					"data": 14,
					"callback": "wardrobeCallbacks.selectChestColor"
				},
				"color_16": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						5
					],
					"visible": false,
					"data": 15,
					"callback": "wardrobeCallbacks.selectChestColor"
				}
			}
		},
		// Chest stuff outside of paneLayout because directives are broken in paneLayout childs =3=.
		"chest_show": {
			"type": "button",
			"base": "/interface/wardrobe/hover.png",
			"hover": "/interface/wardrobe/hover.png?replace;ffffff01=ffffff20",
			"caption": "",
			"zlevel": 3,
			"pressedOffset": [
				0,
				0
			],
			"position": [
				2,
				126
			],
			"data": "chest",
			"callback": "wardrobeCallbacks.showChestSelection"
		},

		// Legs
		"legs": {
			"type": "layout",
			"layoutType": "basic",
			"position": [282, 153],
			"size": [100, 60],
			"zlevel": 1,
			"children": {
				"title": {
					"type": "label",
					"position": [
						3,
						53
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Legs Slot"
				},
				"fakeIcon": {
					"type": "image",
					"zlevel": 0,
					"position": [3,35],
					"file": "/interface/inventory/itembordercommon.png"
				},
				"icon": {
					"type": "itemslot",
					"zlevel": 1,
					"position": [
						3,
						35
					],
					"callback": "null"
				},
				"name": {
					"type": "label",
					"position": [
						23,
						51
					],
					"hAnchor": "left",
					"fontSize": 6,
					"wrapWidth": 76,
					"vAnchor": "top",
					"value": "No selection"
				},
				"colorTitle": {
					"type": "label",
					"position": [
						3,
						26
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Color"
				},
				"color_1": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						16
					],
					"visible": false,
					"data": 0,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_2": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						16
					],
					"visible": false,
					"data": 1,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_3": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						16
					],
					"visible": false,
					"data": 2,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_4": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						16
					],
					"visible": false,
					"data": 3,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_5": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						16
					],
					"visible": false,
					"data": 4,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_6": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						16
					],
					"visible": false,
					"data": 5,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_7": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						16
					],
					"visible": false,
					"data": 6,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_8": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						16
					],
					"visible": false,
					"data": 7,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_9": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						5
					],
					"visible": false,
					"data": 8,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_10": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						5
					],
					"visible": false,
					"data": 9,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_11": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						5
					],
					"visible": false,
					"data": 10,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_12": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						5
					],
					"visible": false,
					"data": 11,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_13": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						5
					],
					"visible": false,
					"data": 12,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_14": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						5
					],
					"visible": false,
					"data": 13,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_15": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						5
					],
					"visible": false,
					"data": 14,
					"callback": "wardrobeCallbacks.selectLegsColor"
				},
				"color_16": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						5
					],
					"visible": false,
					"data": 15,
					"callback": "wardrobeCallbacks.selectLegsColor"
				}
			}
		},
		// Legs stuff outside of paneLayout because directives are broken in paneLayout childs =3=.
		"legs_show": {
			"type": "button",
			"base": "/interface/wardrobe/hover.png",
			"hover": "/interface/wardrobe/hover.png?replace;ffffff01=ffffff20",
			"caption": "",
			"zlevel": 3,
			"pressedOffset": [
				0,
				0
			],
			"position": [
				284,
				187
			],
			"data": "legs",
			"callback": "wardrobeCallbacks.showLegsSelection"
		},

		// Back
		"back": {
			"type": "layout",
			"layoutType": "basic",
			"position": [282, 92],
			"size": [100, 60],
			"zlevel": 1,
			"children": {
				"title": {
					"type": "label",
					"position": [
						3,
						53
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Back Slot"
				},
				"fakeIcon": {
					"type": "image",
					"zlevel": 0,
					"position": [3,35],
					"file": "/interface/inventory/itembordercommon.png"
				},
				"icon": {
					"type": "itemslot",
					"zlevel": 1,
					"position": [
						3,
						35
					],
					"callback": "null"
				},
				"name": {
					"type": "label",
					"position": [
						23,
						51
					],
					"hAnchor": "left",
					"fontSize": 6,
					"wrapWidth": 76,
					"vAnchor": "top",
					"value": "No selection"
				},
				"colorTitle": {
					"type": "label",
					"position": [
						3,
						26
					],
					"hAnchor": "left",
					"vAnchor": "bottom",
					"value": "Color"
				},
				"color_1": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						16
					],
					"visible": false,
					"data": 0,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_2": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						16
					],
					"visible": false,
					"data": 1,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_3": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						16
					],
					"visible": false,
					"data": 2,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_4": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						16
					],
					"visible": false,
					"data": 3,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_5": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						16
					],
					"visible": false,
					"data": 4,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_6": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						16
					],
					"visible": false,
					"data": 5,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_7": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						16
					],
					"visible": false,
					"data": 6,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_8": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						16
					],
					"visible": false,
					"data": 7,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_9": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						2,
						5
					],
					"visible": false,
					"data": 8,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_10": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						14,
						5
					],
					"visible": false,
					"data": 9,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_11": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						26,
						5
					],
					"visible": false,
					"data": 10,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_12": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						38,
						5
					],
					"visible": false,
					"data": 11,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_13": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						50,
						5
					],
					"visible": false,
					"data": 12,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_14": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						62,
						5
					],
					"visible": false,
					"data": 13,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_15": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						74,
						5
					],
					"visible": false,
					"data": 14,
					"callback": "wardrobeCallbacks.selectBackColor"
				},
				"color_16": {
					"type": "button",
					"base": "/interface/wardrobe/color.png",
					"hover": "/interface/wardrobe/color.png",
					"caption": "",
					"hAnchor": "mid",
					"pressedOffset": [
						0, -1
					],
					"position": [
						86,
						5
					],
					"visible": false,
					"data": 15,
					"callback": "wardrobeCallbacks.selectBackColor"
				}
			}
		},
		// Back stuff outside of paneLayout because directives are broken in paneLayout childs =3=.
		"back_show": {
			"type": "button",
			"base": "/interface/wardrobe/hover.png",
			"hover": "/interface/wardrobe/hover.png?replace;ffffff01=ffffff20",
			"caption": "",
			"zlevel": 3,
			"pressedOffset": [
				0,
				0
			],
			"position": [
				284,
				126
			],
			"data": "back",
			"callback": "wardrobeCallbacks.showBackSelection"
		},

		// Left Selection
		"left_background": {
			"type": "image",
			"file": "/interface/wardrobe/leftbar.png",
			"position": [
				1,
				15
			],
			"zlevel": 10,
			"visible": false
		},
		"left_close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"callback": "wardrobeCallbacks.closeLeftSelection",
			"caption": "",
			"position": [
				127,
				201
			],
			"pressedOffset": [
				0, -1
			],
			"zlevel": 11,
			"visible": false
		},

		// Head Selection
		"headSelection": {
			"type": "scrollArea",
			"visible": false,
			"zlevel": 12,
			"rect": [
				1,
				28,
				139,
				196
			],
			"children": {
				"list": {
					"type": "list",
					"position": [0,0],
					"callback": "null",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							129,
							43
						],
						"listTemplate": {
							// Canvas for drawing, buttons for selection.
							"canvas": {
								"type": "canvas",
								"rect": [0,0,129,43],
								"captureMouseEvents": false,
								"mouseTransparent": true,
								"zlevel": 1
							},
							"1": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectHead",
								"caption": "",
								"position": [
									0,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"2": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectHead",
								"caption": "",
								"position": [
									43, 0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"3": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectHead",
								"caption": "",
								"position": [
									86,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							}
						}
					}
				}
			}
		},
		"head_group": {
			"type": "radioGroup",
			"toggleMode": false,
			"zlevel": 11,
			"position": [4,199],
			"callback": "wardrobeCallbacks.selectHeadGroup",
			"visible": false,
			"buttons": [
				{
					"selected": true,
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"text": "Vanilla",
					"data": "vanilla"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [41, 0],
					"text": "Mod",
					"data": "mod"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [82, 0],
					"text": "Custom",
					"data": "custom"
				}
			]
		},
		"head_searchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				2,
				17
			],
			"zlevel": 11,
			"visible": false
		},
		"head_search": {
			"type": "textbox",
			"position": [
				6,
				17
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 12,
			"visible": false,
			"callback": "wardrobeCallbacks.filterHead",
			"maxWidth": 128,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},

		// Chest Selection
		"chestSelection": {
			"type": "scrollArea",
			"visible": false,
			"zlevel": 12,
			"rect": [
				1,
				28,
				139,
				196
			],
			"children": {
				"list": {
					"type": "list",
					"position": [0,0],
					"callback": "null",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							129,
							43
						],
						"listTemplate": {
							// Canvas for drawing, buttons for selection.
							"canvas": {
								"type": "canvas",
								"rect": [0,0,129,43],
								"captureMouseEvents": false,
								"mouseTransparent": true,
								"zlevel": 1
							},
							"1": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectChest",
								"caption": "",
								"position": [
									0,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"2": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectChest",
								"caption": "",
								"position": [
									43, 0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"3": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectChest",
								"caption": "",
								"position": [
									86,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							}
						}
					}
				}
			}
		},
		"chest_group": {
			"type": "radioGroup",
			"toggleMode": false,
			"zlevel": 11,
			"position": [4,199],
			"callback": "wardrobeCallbacks.selectChestGroup",
			"visible": false,
			"buttons": [
				{
					"selected": true,
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"text": "Vanilla",
					"data": "vanilla"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [41, 0],
					"text": "Mod",
					"data": "mod"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [82, 0],
					"text": "Custom",
					"data": "custom"
				}
			]
		},
		"chest_searchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				2,
				17
			],
			"zlevel": 11,
			"visible": false
		},
		"chest_search": {
			"type": "textbox",
			"position": [
				6,
				17
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 12,
			"visible": false,
			"callback": "wardrobeCallbacks.filterChest",
			"maxWidth": 128,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},

		// Right Selection
		"right_background": {
			"type": "image",
			"file": "/interface/wardrobe/rightbar.png",
			"position": [
				244,
				15
			],
			"zlevel": 10,
			"visible": false
		},
		"right_close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"caption": "",
			"callback": "wardrobeCallbacks.closeRightSelection",
			"position": [
				247,
				201
			],
			"pressedOffset": [
				0, -1
			],
			"zlevel": 11,
			"visible": false
		},

		// Legs Selection
		"legsSelection": {
			"type": "scrollArea",
			"visible": false,
			"zlevel": 12,
			"rect": [
				245,
				28,
				383,
				196
			],
			"children": {
				"list": {
					"type": "list",
					"position": [0,0],
					"callback": "null",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							129,
							43
						],
						"listTemplate": {
							// Canvas for drawing, buttons for selection.
							"canvas": {
								"type": "canvas",
								"rect": [0,0,129,43],
								"captureMouseEvents": false,
								"mouseTransparent": true,
								"zlevel": 1
							},
							"1": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectLegs",
								"caption": "",
								"position": [
									0,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"2": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectLegs",
								"caption": "",
								"position": [
									43, 0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"3": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectLegs",
								"caption": "",
								"position": [
									86,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							}
						}
					}
				}
			}
		},
		"legs_group": {
			"type": "radioGroup",
			"toggleMode": false,
			"zlevel": 11,
			"position": [259,199],
			"callback": "wardrobeCallbacks.selectLegsGroup",
			"visible": false,
			"buttons": [
				{
					"selected": true,
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"text": "Vanilla",
					"data": "vanilla"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [41, 0],
					"text": "Mod",
					"data": "mod"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [82, 0],
					"text": "Custom",
					"data": "custom"
				}
			]
		},
		"legs_searchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				246,
				17
			],
			"zlevel": 11,
			"visible": false
		},
		"legs_search": {
			"type": "textbox",
			"position": [
				250,
				17
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 12,
			"visible": false,
			"callback": "wardrobeCallbacks.filterLegs",
			"maxWidth": 128,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},

		// Back Selection
		"backSelection": {
			"type": "scrollArea",
			"visible": false,
			"zlevel": 12,
			"rect": [
				245,
				28,
				383,
				196
			],
			"children": {
				"list": {
					"type": "list",
					"position": [0,0],
					"callback": "null",
					"schema": {
						"selectedBG": "/assetMissing.png",
						"unselectedBG": "/assetMissing.png",
						"spacing": [
							0,
							1
						],
						"memberSize": [
							129,
							43
						],
						"listTemplate": {
							// Canvas for drawing, buttons for selection.
							"canvas": {
								"type": "canvas",
								"rect": [0,0,129,43],
								"captureMouseEvents": false,
								"mouseTransparent": true,
								"zlevel": 1
							},
							"1": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectBack",
								"caption": "",
								"position": [
									0,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"2": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectBack",
								"caption": "",
								"position": [
									43, 0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							},
							"3": {
								"type": "button",
								"base": "/assetMissing.png?crop;0;0;43;43",
								"callback": "wardrobeCallbacks.selectBack",
								"caption": "",
								"position": [
									86,0
								],
								"pressedOffset": [
									0, 0
								],
								"zlevel": 2
							}
						}
					}
				}
			}
		},
		"back_group": {
			"type": "radioGroup",
			"toggleMode": false,
			"zlevel": 11,
			"position": [259,199],
			"callback": "wardrobeCallbacks.selectBackGroup",
			"visible": false,
			"buttons": [
				{
					"selected": true,
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"text": "Vanilla",
					"data": "vanilla"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [41, 0],
					"text": "Mod",
					"data": "mod"
				},
				{
					"baseImage": "/interface/wardrobe/groupButton.png",
					"hoverImage": "/interface/wardrobe/groupButton.png?brightness=20",
					"baseImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00",
					"hoverImageChecked": "/interface/wardrobe/groupButton.png?replace;000000=c6ac00?brightness=20",
					"position": [82, 0],
					"text": "Custom",
					"data": "custom"
				}
			]
		},
		"back_searchImage": {
			"type": "image",
			"file": "/interface/wardrobe/search.png",
			"position": [
				246,
				17
			],
			"zlevel": 11,
			"visible": false
		},
		"back_search": {
			"type": "textbox",
			"position": [
				250,
				17
			],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 12,
			"visible": false,
			"callback": "wardrobeCallbacks.filterBack",
			"maxWidth": 128,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
		// Preview
		"preview": {
			"type": "list",
			"callback": "null",
			"position": [
				127,
				51
			],
			"zlevel": 25,
			"scissoring": false,
			"schema": {
				"selectedBG": "/assetMissing.png",
				"unselectedBG": "/assetMissing.png",
				"spacing": [
					0, -129
				],
				"memberSize": [
					129,
					129
				],
				"listTemplate": {
					"image": {
						"type": "image",
						"file": "/assetMissing.png",
						"scissoring": false,
						"position": [
							0,
							129
						],
						"maxSize": [
							129,
							129
						],
						"minSize": [
							129,
							129
						],
						"zlevel": 25
					}
				}
			}
		},

		// Output
		"equip": {
			"type": "button",
			"base": "/interface/wardrobe/button.png",
			"hover": "/interface/wardrobe/button.png?brightness=30",
			"caption": "^shadow;Equip Outfit",
			"wrapWidth": 80,
			"zlevel": 4,
			"hAnchor": "mid",
			"vAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				114,
				24
			],
			"callback": "wardrobeCallbacks.equip"
		},
		"spawn": {
			"type": "button",
			"base": "/interface/wardrobe/button.png",
			"hover": "/interface/wardrobe/button.png?brightness=30",
			"caption": "^shadow;Spawn Outfit",
			"wrapWidth": 80,
			"zlevel": 4,
			"hAnchor": "mid",
			"vAnchor": "mid",
			"pressedOffset": [
				0, -1
			],
			"position": [
				193,
				24
			],
			"callback": "wardrobeCallbacks.spawn"
		},

		// UI Storage (because script reinitializes while pane stays open on warp)
		"storage": {
			"type": "label",
			"position": [
				0,
				0
			],
			"zlevel": -1,
			"visible": false,
			"value": "",
			"data": {}
		}
	},

	"scriptWidgetCallbacks": [
		"wardrobeCallbacks.showHeadSelection",
		"wardrobeCallbacks.showChestSelection",
		"wardrobeCallbacks.showLegsSelection",
		"wardrobeCallbacks.showBackSelection",
		"wardrobeCallbacks.closeLeftSelection",
		"wardrobeCallbacks.closeRightSelection",

		"wardrobeCallbacks.selectHead",
		"wardrobeCallbacks.selectChest",
		"wardrobeCallbacks.selectLegs",
		"wardrobeCallbacks.selectBack",

		"wardrobeCallbacks.equip",
		"wardrobeCallbacks.spawn",

		"wardrobeCallbacks.filterHead",
		"wardrobeCallbacks.filterChest",
		"wardrobeCallbacks.filterLegs",
		"wardrobeCallbacks.filterBack",

		"wardrobeCallbacks.selectHeadColor",
		"wardrobeCallbacks.selectChestColor",
		"wardrobeCallbacks.selectLegsColor",
		"wardrobeCallbacks.selectBackColor",

		"wardrobeCallbacks.selectHeadGroup",
		"wardrobeCallbacks.selectChestGroup",
		"wardrobeCallbacks.selectLegsGroup",
		"wardrobeCallbacks.selectBackGroup",

		"wardrobeCallbacks.filterHead",
		"wardrobeCallbacks.filterChest",
		"wardrobeCallbacks.filterLegs",
		"wardrobeCallbacks.filterBack"
	],

	"scripts": ["/scripts/wardrobe/wardrobe.lua"],
	"scriptDelta": 1,

	// Config
	"widgetNames": {
		"preview": "preview",
		"storage": "storage",
		"left": [
			"left_background",
			"left_close"
		],
		"left_show": [
			"head_show",
			"chest_show"
		],
		"right": [
			"right_background",
			"right_close"
		],
		"right_show": [
			"legs_show",
			"back_show"
		],
		"headSelection": [
			"headSelection",
			"head_group",
			"head_searchImage",
			"head_search"
		],
		"chestSelection": [
			"chestSelection",
			"chest_group",
			"chest_searchImage",
			"chest_search"
		],
		"legsSelection": [
			"legsSelection",
			"legs_group",
			"legs_searchImage",
			"legs_search"
		],
		"backSelection": [
			"backSelection",
			"back_group",
			"back_searchImage",
			"back_search"
		],
		"head_group": "head_group",
		"chest_group": "chest_group",
		"legs_group": "legs_group",
		"back_group": "back_group",
		"head_name": "head.name",
		"chest_name": "chest.name",
		"legs_name": "legs.name",
		"back_name": "back.name",
		"head_search": "head_search",
		"legs_search": "legs_search",
		"chest_search": "chest_search",
		"back_search": "back_search",
		"head_icon": "head.icon",
		"chest_icon": "chest.icon",
		"legs_icon": "legs.icon",
		"back_icon": "back.icon"
	},
	"idleFrames": {
		"arm": "idle.1",
		"body": "idle.1"
	}
}
